<%- contentFor('styles') %>
<%- contentFor('scripts') %>
<script>
const id = window.location.href.split('/').reverse()[1]

const generateTitle = ({ isLoading, entry } = {}) => {
  if (isLoading) return `<div class="text-center">Loading...</div>`
  if (!entry) return `<h2 class="text-center font-monospace mb-5">Entry ${id} Not Found! :(</h2>`

  return `<h2 class="text-center font-monospace mb-5">Edit My Entry no.${id}</h2>`
}

const generateForm = ({ isLoading, entry, errors } = {}) => {
  if (isLoading || !entry) return ''
  const activities = entry?.activities || []
  const activitiesArrStr = activities.map((activity) => activity.activity.toLowerCase())

  return `
    <div class="d-flex flex-column align-items-center">
      <div class="d-flex flex-row justify-content-center border border-secondary rounded p-5 mb-3" style="width: 750px; height: auto;">
        <form id="daily-entry-form">
          <div class="d-flex flex-row gap-5 align-items-center">
            <div class="d-flex flex-column gap-1 justify-content-center">
              <div class="d-flex flex-row gap-4 mb-1">
                <img id="mood-icon" src="/images/moods/emotions.png" alt="emotions" width="50"  height="50" class="rounded-4">

                <div class="input-group mb-3">
                  <label class="input-group-text" for="mood-options">Options</label>
                  <select id="mood-options" class="form-select ${errors?.mood && 'is-invalid'}" name="mood">
                    <option value="">Choose...</option>
                    <option ${entry?.mood === 'rad' ? 'selected' : ''} value="rad">Rad</option>
                    <option ${entry?.mood === 'good' ? 'selected' : ''} value="good">Good</option>
                    <option ${entry?.mood === 'meh' ? 'selected' : ''} value="meh">Meh</option>
                    <option ${entry?.mood === 'bad' ? 'selected' : ''} value="bad">Bad</option>
                    <option ${entry?.mood === 'awful' ? 'selected' : ''} value="awful">Awful</option>
                  </select>
                  <div class="invalid-feedback">${errors?.mood || ''}</div>
                </div>
              </div>

              <label for="gratitude-sentence" class="form-label">I am grateful for...</label>
              <textarea
                class="mt-2 form-control ${errors?.gratitude && 'is-invalid'}" id="gratitude-sentence"
                name="gratitude"
                rows="5"
              >${entry?.gratitude || ''}</textarea>
              <div class="invalid-feedback">${errors?.gratitude || ''}</div>
            </div>

            <div style="width: 200px; height: auto;">
              <ul class="list-group">
                <li class="list-group-item">
                  <input
                    class="form-check-input me-1 ${errors?.activities && 'is-invalid'}"
                    type="checkbox"
                    name="activities[0][activity]"
                    id="social"
                    value="social"
                    ${activitiesArrStr.includes('social') ? 'checked' : ''}
                  ></input>
                  <label class="form-check-label" for="activities[0][activity]">Social Time</label>
                </li>

                <li class="list-group-item">
                  <input
                    class="form-check-input me-1 ${errors?.activities && 'is-invalid'}"
                    type="checkbox"
                    name="activities[1][activity]"
                    id="alone"
                    value="alone"
                    ${activitiesArrStr.includes('alone') ? 'checked' : ''}
                  >
                  <label class="form-check-label" for="activities[1][activity]">Alone Time</label>
                </li>

                <li class="list-group-item">
                  <input
                    class="form-check-input me-1 ${errors?.activities && 'is-invalid'}"
                    type="checkbox"
                    name="activities[2][activity]"
                    id="exercise"
                    value="exercise"
                    ${activitiesArrStr.includes('exercise') ? 'checked' : ''}
                  >
                  <label class="form-check-label" for="activities[2][activity]">Exercise</label>
                </li>

                <li class="list-group-item">
                  <input
                    class="form-check-input me-1 ${errors?.activities && 'is-invalid'}"
                    type="checkbox"
                    name="activities[3][activity]"
                    id="chores"
                    value="chores"
                    ${activitiesArrStr.includes('chores') ? 'checked' : ''}
                  >
                  <label class="form-check-label" for="activities[3][activity]">Chores</label>
                </li>

                <li class="list-group-item">
                  <input
                    class="form-check-input me-1 ${errors?.activities && 'is-invalid'}"
                    type="checkbox"
                    name="activities[4][activity]"
                    id="sleep"
                    value="sleep"
                    ${activitiesArrStr.includes('sleep') ? 'checked' : ''}
                  >
                  <label class="form-check-label" for="activities[4][activity]">Sleep</label>
                </li>

                <li class="list-group-item">
                  <input
                    class="form-check-input me-1 ${errors?.activities && 'is-invalid'}"
                    type="checkbox"
                    name="activities[5][activity]"
                    id="eat"
                    value="eat"
                    ${activitiesArrStr.includes('eat') ? 'checked' : ''}
                  >
                  <label class="form-check-label" for="activities[5][activity]">Eat Well</label>
                </li>
              </ul>
            </div>
          </div>

          <div class="d-flex flex-column w-75 gap-1 mt-5">
            <h3 class="fw-semibold mb-3">Post</h3>
            <label for="post-title" class="form-label">Title</label>
            <input type="text" class="post-form-input form-control mb-2 ${errors?.post?.title && 'is-invalid'}" name="post[title]" id="post-title" value=${entry?.title || ''}></input>
            <div class="invalid-feedback">${errors?.post?.title || ''}</div>

            <label for="post-content" class="form-label">Content</label>
            <textarea class="post-form-input form-control mt-2 ${errors?.post?.content && 'is-invalid'}" name="post[content]" id="post-content" rows="5">${entry?.content || ''}</textarea>
            <div class="invalid-feedback">${errors?.post?.content || ''}</div>

            <div class="form-check mt-2">
              <label class="form-check-label" for="post-checkbox">
                Public
              </label>
              <input class="post-form-input form-check-input" name="post[checked]" type="checkbox" id="post-checkbox" ${entry?.checked ? 'checked' : ''}>
            </div>
          </div>
          <div class="d-flex flex-row justify-content-end mt-2">
            <button
              id="submit-form-btn"
              class="btn btn-dark btn-sm"
              type="submit"
            >Save Changes</button>
          </div>
        </form>
      </div>
    </div>
  `

}

const generatePage = (info) => {
  const $page = $('#pages-my-entries-edit')
  const $title = generateTitle(info)
  const $form = generateForm(info)

  $page.html('').append($title).append($form)
}

const getEntry= () => {
  axios({
    method: 'GET',
    url: `/api/my/entries/${id}`
  }).then((resp) => {
    generatePage({ entry: resp.data })
  }).catch((err) => {
    generatePage()
  })
}

const handleSubmit = (e) => {
  e.preventDefault()
  // console.log(e.currentTarget)
  const data = parseFormData(new FormData(e.currentTarget))
  $('#daily-entry-form button[type="submit"]').attr('disabled', true)

  const postForm = () => {
    if (!data.post.title && !data.post.content && !data.post.checked) {
    return ($('.post-form-input').attr('disabled', true))
  } else {
    return ($('.post-form-input').attr('disabled', false))
  }
  }



  axios({
    method: 'PUT',
    url: `/api/my/entries/${id}`,
    data
  }).then((resp) => {
    window.location.href = `/my/entries/${resp.data.id}`
  }).catch((err) => {
    console.log(err)
    generatePage({ entry: data, errors: err.response.data })
  })
}

$(document).ready(() => {
  generatePage({ isLoading: true })
  getEntry()

  $('#pages-my-entries-edit').on('submit', '#daily-entry-form', handleSubmit)
})
</script>

<%- contentFor('body') %>
<div id="pages-my-entries-edit" class="container"></div>
