<%- contentFor('styles') %>
<%- contentFor('scripts') %>

<%- contentFor('body') %>

<div class="row align-items-center g-lg-5 py-5 px-5 mx-5 my-5">
  <div class="col-lg-7 text-center text-lg-start">
    <h1 class="display-4 fw-bold lh-1 mb-3">h e a r d</h1>
    <p class="col-lg-10 fs-4">Because sometimes all we need is an empathetic ear to feel less alone in this world of billions.</p>
  </div>

  <div id="home" class="col-md-10 mx-auto col-lg-5">
  </div>

</div>
