<%- contentFor('styles') %>
<%- contentFor('scripts') %>
<script>
const generateQuote = ({ isLoading, dailyPage } ={}) => {
  if (isLoading) return `<div class="text-center">Loading...</div>`

  return`
  <div class="p-4 p-md-5 mb-4 mx-2 rounded text-bg-dark">
    <div class="col-md-6 px-0">
      <h5 class="display-6 fst-italic">${dailyPage.quote.content}</h5>
      <p class="lead mt-4 mb-3">${dailyPage.quote.author}</p>
    </div>
  </div>
  `
}

const generateEntry = ({ isLoading, dailyPage } ={}) => {
  if (isLoading) return ''
  const $modal = $(`
    <div id="entryModal" class="modal" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-4 shadow">
          <div class="modal-header border-bottom-0">
            <h1 class="modal-title fs-4">Daily Entry Not Found</h1>
            <button type="button" class="close-modal-btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body py-0 fs-5">
            <p>Track your daily mood, activities and thoughts by creating an entry!</p>
          </div>
          <div class="modal-footer flex-column border-top-0">
            <button type="button" class="create-entry-btn btn btn-lg btn-dark w-100 mx-0 mb-2">Create</button>
            <button type="button" class="close-modal-btn btn btn-lg btn-outline-secondary w-100 mx-0" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  `)

  if (!dailyPage.entry) {
    $modal.modal({backdrop: 'static', keyboard: false})
    $modal.modal('show')
  }

  // if successful need to show entry using dailyPage data
  // show mood, date, mood name, activities, sentence, blog post

  return``
}

const generateCreateEntryBtn = () => {
  const $btn = $(`
    <div class="row">
      <div class="text-center">
      <button type="button" id="secondary-create-entry-btn" class="create-entry-btn btn btn-lg btn-outline-dark w-25 mx-0 my-2">Create a daily entry</button>
      </div>
    </div>
  `)
  $('#pages-my-page-show').append($btn)
}

const generateEntryForm = ({ entry, errors } = {}) => {
  const activities = entry?.activities || []
  const activitiesArrStr = activities.map((activity) => activity.activity)

  const $form = $(`
    <form id="entry-form" class="daily-entry-form">
      <div class="row g-3">
        <div class="col-md-12">
          <h3>Today:</h3>
        </div>
      </div>

      <div class="row g-3">
        <div class="col-1">
          <img id="moodIcon" src="/images/moods/emotions.png" alt="emotions" width="50"  height="auto" class="rounded-4">
        </div>
        <div class="col-4">
          <div id="moodOptions" class="input-group">
            <select class="form-select ${errors?.mood && 'is-invalid'}" name="mood">
              <option value="">Choose...</option>
              <option ${entry?.mood === 'rad' ? 'selected' : ''} value="rad">Rad</option>
              <option ${entry?.mood === 'good' ? 'selected' : ''} value="good">Good</option>
              <option ${entry?.mood === 'meh' ? 'selected' : ''} value="meh">Meh</option>
              <option ${entry?.mood === 'bad' ? 'selected' : ''} value="bad">Bad</option>
              <option ${entry?.mood === 'awful' ? 'selected' : ''} value="awful">Awful</option>
            </select>
            <div class="invalid-feedback">${errors?.mood || ''}</div>
          </div>
        </div>

        <div class="w-100"></div>

        <div class="col-6">
          <ul class="list-group">
            <li class="list-group-item">
              <input
                class="form-check-input me-1 ${errors?.activities && 'is-invalid'}"
                type="checkbox"
                name="activities[0][activity]"
                id="social"
                value="social"
                ${activitiesArrStr.includes('social') ? 'checked' : ''}
              ></input>
              <label class="form-check-label" for="activities[0][activity]">Social Time</label>
            </li>

            <li class="list-group-item">
              <input
                class="form-check-input me-1 ${errors?.activities && 'is-invalid'}"
                type="checkbox"
                name="activities[1][activity]"
                id="alone"
                value="alone"
                ${activitiesArrStr.includes('alone') ? 'checked' : ''}
              >
              <label class="form-check-label" for="activities[1][activity]">Alone Time</label>
            </li>

            <li class="list-group-item">
              <input
                class="form-check-input me-1 ${errors?.activities && 'is-invalid'}"
                type="checkbox"
                name="activities[2][activity]"
                id="exercise"
                value="exercise"
                ${activitiesArrStr.includes('exercise') ? 'checked' : ''}
              >
              <label class="form-check-label" for="activities[2][activity]">Exercise</label>
            </li>

            <li class="list-group-item">
              <input
                class="form-check-input me-1 ${errors?.activities && 'is-invalid'}"
                type="checkbox"
                name="activities[3][activity]"
                id="chores"
                value="chores"
                ${activitiesArrStr.includes('chores') ? 'checked' : ''}
              >
              <label class="form-check-label" for="activities[3][activity]">Chores</label>
            </li>

            <li class="list-group-item">
              <input
                class="form-check-input me-1 ${errors?.activities && 'is-invalid'}"
                type="checkbox"
                name="activities[4][activity]"
                id="sleep"
                value="sleep"
                ${activitiesArrStr.includes('sleep') ? 'checked' : ''}
              >
              <label class="form-check-label" for="activities[4][activity]">Sleep</label>
            </li>

            <li class="list-group-item">
              <input
                class="form-check-input me-1 ${errors?.activities && 'is-invalid'}"
                type="checkbox"
                name="activities[5][activity]"
                id="eat"
                value="eat"
                ${activitiesArrStr.includes('eat') ? 'checked' : ''}
              >
              <label class="form-check-label" for="activities[5][activity]">Eat Well</label>
            </li>
          </ul>
        </div>

        <div class="col-6">
          <label for="gratitudeSentence" class="form-label">I am grateful for...</label>
          <textarea
          class="form-control ${errors?.gratitude && 'is-invalid'}" id="gratitudeSentence"
          name="gratitude"
          value="${entry?.gratitude || ''}"
          rows="3"
          ></textarea>
          <div class="invalid-feedback">${errors?.gratitude || ''}</div>
        </div>
      </div>

      <div class="row g-3">
        <div class="col-md-12">
          <h5>Post (Optional)</h5>
        </div>
      </div>

      <div class="row g-3">
        <div class="col-md-4">
          <label for="postTitle" class="form-label">Title</label>
          <input type="text" class="form-control" name="title" id="postTitle"
        </div>

        <div class="col-6">
          <label for="postContent" class="form-label">Content</label>
          <textarea class="form-control" name="content" id="postContent"  rows="3"></textarea>
        </div>

        <div class="w-100"></div>

        <div class="row g-3">
        <div class="col-12">
          <div class="form-check">
            <input class="form-check-input" name="checked" type="checkbox" id="gridCheck1">
            <label class="form-check-label" for="gridCheck1">
              Public
            </label>
          </div>
        </div>
        <div class="col-12">
          <button id="submit-entry-btn" type="submit" class="btn btn-dark">Submit</button>
        </div>
      </div>
    </form>
  `)

  $('#pages-my-page-show').append($form)
}

const generatePage = (info) => {
  const $page = $('#pages-my-page-show')
  const $quote = generateQuote(info)
  const $entry = generateEntry(info)

  $page.html('').append($quote).append($entry)
}

const getDailyPage = () => {
  axios({
    method: 'GET',
    url: '/api/my/page'
  }).then((resp) => {
    generatePage({ dailyPage: resp.data })
  }).catch((err) => {
    generatePage()
  })
}

const handleAddCreateEntryBtn = (e) => {
  e.preventDefault()
  generateCreateEntryBtn()
}

const handleCreateEntry = (e) => {
  e.preventDefault()
  $('.create-entry-btn button[type="submit"]').attr('disabled', true)
  $('#entryModal').modal('hide')
  $('#secondary-create-entry-btn').addClass("invisible")
  generateEntryForm()
}

const handleMoodSelect = (e) => {
  const moodSelection = e.target.value
  // console.log(moodSelection)
  if (moodSelection === 'choose') {
    $('#moodIcon').attr("src", "/images/moods/emotions.png")
  } else {
    $('#moodIcon').attr("src", `/images/moods/${moodSelection}.png`)
  }
}

const handleSubmitEntry =  (e) => {
  e.preventDefault()
  $('#submit-entry-btn button[type="submit"]').attr('disabled', true)

  const data = new FormData($('#entry-form')[0])
  // console.log(data)

  axios({
    method: 'POST',
    url: '/api/my/entries',
    data
  }).then((resp) => {
    window.location.href = `/my/entries/${resp.data.id}`
  }).catch((err) => {
    $('#entry-form').remove()
    generateEntryForm({ entry: parseFormData(data), errors: err.response.data })
  })
}

$(document).ready(() => {
generatePage({ isLoading: true })
getDailyPage()

$('body').on('click', '.close-modal-btn', handleAddCreateEntryBtn)
$('body').on('click', '.create-entry-btn', handleCreateEntry)
$('#pages-my-page-show').on('change', '#moodOptions', handleMoodSelect)
$('#pages-my-page-show').on('click', '#submit-entry-btn', handleSubmitEntry)

// event listener for editing deleting
})
</script>

<%- contentFor('body') %>
<div id="pages-my-page-show" class="container"></div>

<!-- <img class="mood-icon" src="/public/images/moods/sad.png" data-mood="sad" alt=""> -->
