<%- contentFor('styles') %>
<%- contentFor('scripts') %>
<script>
const generateQuote = ({ isLoading, dailyPage } ={}) => {
  if (isLoading) return `<div class="text-center">Loading...</div>`
    // <h5 class="display-6 fst-italic">${dailyPage.quote.content}</h5>
    // <p class="lead mt-4 mb-3">${dailyPage.quote.author}</p>
  return`
  <div class="row justify-content-center">
    <div class="p-4 p-md-5 mb-4 mx-2 rounded text-bg-dark" style="width: 1000px; height: auto;">
      <div class="col-md-6 px-0">
        <figure class="text-start">
          <blockquote class="blockquote">
            <h4 class="fst-italic lh-base">${dailyPage?.quote?.content}</h4>
          </blockquote>
          <figcaption class="text-muted lead">
            ${dailyPage?.quote?.author}
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
  `
}

const generateActivity = (activity) => {
  const activityStr = activity?.activity.toLowerCase()
  // console.log(activityStr)

  return `
    <img src="/images/activities/${activityStr}.png" alt="activity" width="45" height="auto">
  `
}

const generateEntry = ({ isLoading, dailyPage : { entry } = {}} ={}) => {
  if (isLoading) return ''

  const mood = entry?.mood || ''
  const activities = entry?.activities || []
  const post = entry?.post || ''
  const checkedPost = entry?.post?.checked || ''
  const pubOrPriv = checkedPost === true ? "PUBLIC" : "PRIVATE"

  const $modal = $(`
    <div id="entryModal" class="modal" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-4 shadow">
          <div class="modal-header border-bottom-0">
            <h1 class="modal-title fs-4">Daily Entry Not Found</h1>
            <button type="button" class="close-modal-btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body py-0 fs-5">
            <p>Track your daily mood, activities and thoughts by creating an entry!</p>
          </div>
          <div class="modal-footer flex-column border-top-0">
            <button type="button" class="create-entry-btn btn btn-lg btn-dark w-100 mx-0 mb-2">Create</button>
            <button type="button" class="close-modal-btn btn btn-lg btn-outline-secondary w-100 mx-0" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  `)

  const $entry = $(`
    <div class="d-flex flex-column align-items-center">

      <div class="border border-secondary rounded p-5 mb-3" style="width: 700px; height: auto;">
        <div class="d-flex flex-row justify-content-end gap-3">
          <button
            id="delete-entry-btn"
            class="btn btn-dark btn-sm"
            type="button"
          >Delete</button>
          <button
            id="edit-entry-btn"
            class="btn btn-outline-dark btn-sm"
            type="button"
          >Edit</button>
        </div>

        <div class="d-flex flex-row gap-5 mt-4">
          <div class="ms-3">
            <img id="moodIcon" src="/images/moods/${mood}.png" alt="emotion" width="80"  height="auto" class="rounded-4">
          </div>
          <div class="d-flex flex-column">
            <h1 class="font-monospace fw-bold mb-1">${mood}</h1>
            <p>${entry?.createdAt.substring(0, 10)}</p>
            <div class="d-flex flex-row gap-3 my-2">
            ${activities.map(generateActivity).join('')}
            </div>
            <h5 class="fst-italic fw-light border rounded px-4 py-3 mt-3">${entry?.gratitude}</h5>
          </div>
        </div>
      </div>

      <div class="border border-secondary rounded px-5 py-4 mb-5 ${post ? 'visible' : 'invisible'}" style="width: 700px; height: auto;">
        <div class="d-flex flex-column">
          <h3 class="fw-semibold mb-2">${post.title}</h3>
          <h5 class="fw-light my-2">${post.content}</h5>
          <h6 class="d-flex justify-content-center fw-light border rounded py-2 px-3 mt-2" style="width: 85px; height: auto;">${pubOrPriv}</h6>

          <div class="d-flex flex-row justify-content-end ${pubOrPriv === "PUBLIC"? "visible" : "invisible"}">

          </div>
        </div>
      </div>

    </div>
  `)

  if (!entry) {
    $modal.modal({backdrop: 'static', keyboard: false})
    $modal.modal('show')
  } else {
    return $entry
  }
}

const generateCreateEntryBtn = () => {
  const $btn = $(`
    <div class="row">
      <div class="text-center">
      <button type="button" id="secondary-create-entry-btn" class="create-entry-btn btn btn-lg btn-outline-dark w-25 mx-0 my-2">Create a daily entry</button>
      </div>
    </div>
  `)
  $('#pages-my-page-show').append($btn)
}

const generateEntryForm = ({ entry, errors} = {}) => {
  const activities = entry?.activities || []
  const activitiesArrStr = activities.map((activity) => activity.activity)

  const $form = $(`
    <form id="daily-entry-form">
      <div class="d-flex flex-column align-items-center p-5">
        <div class="d-flex flex-column justify-content-center align-items-center border border-secondary rounded p-5 mb-3" style="width: 750px; height: auto;">
          <h3 class="fw-semibold mb-5">Today's Entry</span></h3>
          <div class="d-flex flex-row gap-5 align-items-center">
            <div class="d-flex flex-column gap-1 justify-content-center">
              <div class="d-flex flex-row gap-4 mb-1">
                <img id="mood-icon" src="/images/moods/emotions.png" alt="emotions" width="50"  height="50" class="rounded-4">

                <div class="input-group mb-3">
                  <label class="input-group-text" for="mood-options">Options</label>
                  <select id="mood-options" class="form-select ${errors?.mood && 'is-invalid'}" name="mood">
                    <option value="">Choose...</option>
                    <option ${entry?.mood === 'rad' ? 'selected' : ''} value="rad">Rad</option>
                    <option ${entry?.mood === 'good' ? 'selected' : ''} value="good">Good</option>
                    <option ${entry?.mood === 'meh' ? 'selected' : ''} value="meh">Meh</option>
                    <option ${entry?.mood === 'bad' ? 'selected' : ''} value="bad">Bad</option>
                    <option ${entry?.mood === 'awful' ? 'selected' : ''} value="awful">Awful</option>
                  </select>
                  <div class="invalid-feedback">${errors?.mood || ''}</div>
                </div>
              </div>

              <label for="gratitude-sentence" class="form-label">I am grateful for...</label>
              <textarea
                class="mt-2 form-control ${errors?.gratitude && 'is-invalid'}" id="gratitude-sentence"
                name="gratitude"
                rows="5"
              >${entry?.gratitude || ''}</textarea>
              <div class="invalid-feedback">${errors?.gratitude || ''}</div>
            </div>

            <div style="width: 200px; height: auto;">
              <ul class="list-group">
                <li class="list-group-item">
                  <input
                    class="form-check-input me-1 ${errors?.activities && 'is-invalid'}"
                    type="checkbox"
                    name="activities[0][activity]"
                    id="social"
                    value="social"
                    ${activitiesArrStr.includes('social') ? 'checked' : ''}
                  ></input>
                  <label class="form-check-label" for="activities[0][activity]">Social Time</label>
                </li>

                <li class="list-group-item">
                  <input
                    class="form-check-input me-1 ${errors?.activities && 'is-invalid'}"
                    type="checkbox"
                    name="activities[1][activity]"
                    id="alone"
                    value="alone"
                    ${activitiesArrStr.includes('alone') ? 'checked' : ''}
                  >
                  <label class="form-check-label" for="activities[1][activity]">Alone Time</label>
                </li>

                <li class="list-group-item">
                  <input
                    class="form-check-input me-1 ${errors?.activities && 'is-invalid'}"
                    type="checkbox"
                    name="activities[2][activity]"
                    id="exercise"
                    value="exercise"
                    ${activitiesArrStr.includes('exercise') ? 'checked' : ''}
                  >
                  <label class="form-check-label" for="activities[2][activity]">Exercise</label>
                </li>

                <li class="list-group-item">
                  <input
                    class="form-check-input me-1 ${errors?.activities && 'is-invalid'}"
                    type="checkbox"
                    name="activities[3][activity]"
                    id="chores"
                    value="chores"
                    ${activitiesArrStr.includes('chores') ? 'checked' : ''}
                  >
                  <label class="form-check-label" for="activities[3][activity]">Chores</label>
                </li>

                <li class="list-group-item">
                  <input
                    class="form-check-input me-1 ${errors?.activities && 'is-invalid'}"
                    type="checkbox"
                    name="activities[4][activity]"
                    id="sleep"
                    value="sleep"
                    ${activitiesArrStr.includes('sleep') ? 'checked' : ''}
                  >
                  <label class="form-check-label" for="activities[4][activity]">Sleep</label>
                </li>

                <li class="list-group-item">
                  <input
                    class="form-check-input me-1 ${errors?.activities && 'is-invalid'}"
                    type="checkbox"
                    name="activities[5][activity]"
                    id="eat"
                    value="eat"
                    ${activitiesArrStr.includes('eat') ? 'checked' : ''}
                  >
                  <label class="form-check-label" for="activities[5][activity]">Eat Well</label>
                </li>
              </ul>
            </div>
          </div>
          <div class="w-100"></div>

          <div id="post-form-box" class="w-100 collapse ${entry?.post ? 'show' : ''}">
            <div class="d-flex justify-content-center">
              <div class="d-flex flex-column w-75 gap-1 mt-5">
                <h3 class="fw-semibold mb-3">Post <span class="fw-light text-muted fs-4">(Optional)</span></h3>
                <label for="post-title" class="form-label">Title</label>
                <input
                  type="text"
                  class="post-form-input form-control mb-2 ${errors?.post?.title && 'is-invalid'}"
                  name="post[title]"
                  id="post-title"
                  value="${entry?.post?.title || ''}"
                  ${entry?.post ? '' : 'disabled'}
                ></input>
                <div class="invalid-feedback">${errors?.post?.title || ''}</div>

                <label for="post-content" class="form-label">Content</label>
                <textarea
                  class="post-form-input form-control mt-2 ${errors?.post?.content && 'is-invalid'}"
                  name="post[content]"
                  id="post-content"
                  rows="5"
                  ${entry?.post ? '' : 'disabled'}
                >${entry?.post?.content || ''}</textarea>
                <div class="invalid-feedback">${errors?.post?.content || ''}</div>

                <div class="form-check mt-2">
                  <label class="form-check-label" for="post-checkbox">
                    Public
                  </label>
                  <input
                    class="post-form-input form-check-input"
                    name="post[checked]"
                    type="checkbox"
                    id="post-checkbox"
                    ${entry?.post?.checked ? 'checked' : ''}
                    ${entry?.post ? '' : 'disabled'}
                  >
                </div>
              </div>
            </div>
          </div>

          <div class="d-flex flex-row align-self-end gap-2 mt-4 me-5">
            <div>
              <button
                class="btn btn-primary btn-dark btn-sm"
                id="post-form-btn"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#post-form-box"
                aria-expanded="false"
              >${entry?.post ? 'Cancel Post Creation' : 'Add a Post'}</button>
            </div>
            <div>
              <button
                id="submit-entry-btn"
                class="btn btn-dark btn-sm me-3"
                type="submit"
              >Create</button>
            </div>
          </div>

        </div>
      </div>
    </form>
  `)

  $('#pages-my-page-show').append($form)
}

const generatePage = (info) => {
  const $page = $('#pages-my-page-show')
  const $quote = generateQuote(info)
  const $entry = generateEntry(info)

  $page.html('').append($quote).append($entry)
}

const getDailyPage = () => {
  axios({
    method: 'GET',
    url: '/api/my/page'
  }).then((resp) => {
    generatePage({ dailyPage: resp.data })
  }).catch((err) => {
    generatePage()
  })
}

const handleAddCreateEntryBtn = (e) => {
  e.preventDefault()
  generateCreateEntryBtn()
}

const handleCreateEntry = (e) => {
  e.preventDefault()
  $('.create-entry-btn button[type="submit"]').attr('disabled', true)
  $('#entryModal').modal('hide')
  $('#secondary-create-entry-btn').addClass("invisible")
  generateEntryForm()
}

const handleMoodSelect = (e) => {
  const moodSelection = e.target.value
  // console.log(moodSelection)
  if (!moodSelection) {
    $('#mood-icon').attr("src", "/images/moods/emotions.png")
  } else {
    $('#mood-icon').attr("src", `/images/moods/${moodSelection}.png`)
  }
}

const handleHidePostForm = (e) => {
  // console.log(e.currentTarget)
  $('.post-form-input').attr('disabled', true)
  $('#post-form-btn').html('Add a Post')
}

const handleShowPostForm = (e) => {
  $('.post-form-input').attr('disabled', false)
  $('#post-form-btn').html('Cancel Post Creation')
}

const handleSubmitEntry =  (e) => {
  e.preventDefault()
  $('#submit-entry-btn button[type="submit"]').attr('disabled', true)

  // const postFormVisibility = $('#post-form-box').hasClass('show') ? true : false
  // $('#post-form-box').hasClass('show') ? $('#post-form-box').collapse.show : $('#post-form-box').collapse

  const data = parseFormData(new FormData($('#daily-entry-form')[0]))
  console.log(data)

  axios({
    method: 'POST',
    url: '/api/my/entries',
    data
  }).then((resp) => {
    window.location.href = `/my/entries/${resp.data.id}`
  }).catch((err) => {
    console.log(err)
    const $form = generateEntryForm({ entry: data, errors: err.response.data })

    // if (postFormVisibility) {
    //   $('#post-form-box').collapse.show
    // } else {
    //   $('#post-form-box').collapse
    // }

    $('#daily-entry-form').replaceWith($form)
  })
}

$(document).ready(() => {
  generatePage({ isLoading: true })
  getDailyPage()

  $('body').on('click', '.close-modal-btn', handleAddCreateEntryBtn)
  $('body').on('click', '.create-entry-btn', handleCreateEntry)
  $('#pages-my-page-show').on('change', '#mood-options', handleMoodSelect)
  $('#pages-my-page-show').on('hidden.bs.collapse', '#post-form-box', handleHidePostForm)
  $('#pages-my-page-show').on('shown.bs.collapse', '#post-form-box', handleShowPostForm)
  $('#pages-my-page-show').on('click', '#submit-entry-btn', handleSubmitEntry)
})
</script>

<%- contentFor('body') %>
<div id="pages-my-page-show" class="container"></div>

<!-- <img class="mood-icon" src="/public/images/moods/sad.png" data-mood="sad" alt=""> -->
