<%- contentFor('styles') %>
<%- contentFor('scripts') %>
<%- contentFor('body') %>
<div class="row align-items-center g-lg-5 py-5 mx-5 my-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 mb-3">h e a r d</h1>
        <p class="col-lg-10 fs-4">Because sometimes all we need is an empathetic ear to feel less alone in this world of billions.</p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        <form class="p-4 p-md-5 border rounded-3 bg-light">
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
          </div>

          <button class="w-100 btn btn-lg btn-dark" type="submit">Log in</button>
          <hr class="my-4">
          <button class="w-100 btn btn-secondary btn-primary" type="submit">Create a new account</button>
        </form>
      </div>
    </div>
