<%- contentFor('styles') %>
<%- contentFor('scripts') %>
<script>
const generateForm = ({ user, errors } = {}) => {
  return `
    <form id="login-form" class="p-4 p-md-5 border rounded-3 bg-light">
      <div class="mb-3">
        <label for="login-email" class="form-label">Email address</label>
        <input
        id="login-email"
        class="form-control ${errors?.email && 'is-invalid'}"
        name="email"
        value="${user?.email || ''}"
        type="email"
        ></input>
        <div class="invalid-feedback">${errors?.email || ''}</div>
      </div>

      <div class="mb-3">
        <label for="login-password" class="form-label">Password</label>
        <input
        id="login-password"
        class="form-control ${errors?.password && 'is-invalid'}"
        name="password"
        value="${user?.password || ''}"
        type="password"
        ></input>
        <div class="invalid-feedback">${errors?.password || ''}</div>
      </div>

      <button id="login-btn" class="w-100 btn btn-lg btn-dark" type="submit">Log in</button>
      <hr class="my-4">
      <button class="w-100 btn btn-secondary btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#modal-signup">Create a new account</button>
    </form>

    <div class="modal fade" id="modal-signup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content rounded-4 shadow">
          <div class="modal-header p-5 pb-4 border-bottom-0">
            <h1 class="fw-bold mb-0 fs-2">Sign up for free</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body p-5 pt-0">
            <form id="signup-form">

              <div class="mb-3">
                <label for="signup-email" class="form-label">Email address</label>
                <input
                id="signup-email"
                class="form-control rounded-3"
                name="email"
                type="email"
                ></input>
              </div>

              <div class="mb-3">
                <label for="signup-username" class="form-label">Username</label>
                <input
                id="signup-username"
                class="form-control rounded-3"
                name="username"
                type="text"
                ></input>
              </div>

              <div class="mb-3">
                <label for="signup-password" class="form-label">Password</label>
                <input
                id="signup-password"
                class="form-control rounded-3"
                name="password"
                type="password"
                ></input>
              </div>


              <div class="mb-3">
                <label for="signup-password-confirmation" class="form-label">Password Confirmation</label>
                <input
                id="signup-password-confirmation"
                class="form-control rounded-3"
                name="passwordConfirmation"
                type="password"
                ></input>
                </div>

                <div class="mb-3">
                  <label for="signup-avatar" class="form-label">Avatar</label>
                  <input
                  id="signup-avatar"
                  class="form-control rounded-3"
                  name="avatar"
                  type="file"
                  ></input>
                </div>

                <button class="w-100 mb-2 btn btn-lg rounded-3 btn-dark signup-btn" type="submit">Sign up</button>
              <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small>
            </form>
          </div>
        </div>
      </div>
    </div>
  `
}

const generateModalForm = ({ user, errors }= {}) => {
  const $form = $(`
  <form class="p-4 p-md-5 border rounded-3 bg-light">
      <div class="mb-3">
        <label for="login-email" class="form-label">Email address</label>
        <input
        class="form-control"
        type="email"
        ></input>
      </div>

      <div class="mb-3">
        <label for="login-password" class="form-label">Password</label>
        <input
        class="form-control"
        type="password"
        ></input>
      </div>

      <button class="w-100 btn btn-lg btn-dark" type="submit">Log in</button>
      <hr class="my-4">
      <button class="w-100 btn btn-secondary btn-primary" type="button">Create a new account</button>
    </form>

    <div class="modal show" tabindex="-1" aria-modal="true" role="dialog" style="display: block;">
      <div class="modal-dialog">
        <div class="modal-content rounded-4 shadow">
          <div class="modal-header p-5 pb-4 border-bottom-0">
            <h1 class="fw-bold mb-0 fs-2">Sign up for free</h1>
            <a href="/" class="btn-close"></a>
          </div>

          <div class="modal-body p-5 pt-0">
            <form id="signup-form">

              <div class="mb-3">
                <label for="signup-email" class="form-label">Email address</label>
                <input
                id="signup-email"
                class="form-control rounded-3 ${errors?.email && 'is-invalid'}"
                name="email"
                value="${user?.email || ''}"
                type="email"
                ></input>
                <div class="invalid-feedback">${errors?.email || ''}</div>
              </div>

              <div class="mb-3">
                <label for="signup-username" class="form-label">Username</label>
                <input
                id="signup-username"
                class="form-control rounded-3 ${errors?.username && 'is-invalid'}"
                name="username"
                value="${user?.username || ''}"
                type="text"
                ></input>
                <div class="invalid-feedback">${errors?.username || ''}</div>
              </div>

              <div class="mb-3">
                <label for="signup-password" class="form-label">Password</label>
                <input
                id="signup-password"
                class="form-control rounded-3 ${errors?.password && 'is-invalid'}"
                name="password"
                value="${user?.password || ''}"
                type="password"
                ></input>
                <div class="invalid-feedback">${errors?.password || ''}</div>
              </div>

              <div class="mb-3">
                <label for="signup-password-confirmation" class="form-label">Password Confirmation</label>
                <input
                id="signup-password-confirmation"
                class="form-control rounded-3 ${errors?.passwordConfirmation && 'is-invalid'}"
                name="passwordConfirmation"
                value="${user?.passwordConfirmation || ''}"
                type="password"
                ></input>
                <div class="invalid-feedback">${errors?.passwordConfirmation || ''}</div>
              </div>

              <div class="mb-3">
                <label for="signup-avatar" class="form-label">Avatar</label>
                <input
                id="signup-avatar"
                class="form-control rounded-3"
                name="avatar"
                type="file"
                ></input>
                <div class="invalid-feedback">${errors?.avatar || ''}</div>
              </div>

              <button class="w-100 mb-2 btn btn-lg rounded-3 btn-dark signup-btn" type="submit">Sign up</button>
              <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small>
            </form>
          </div>
        </div>
      </div>
    </div>
  `)

    if (user?.avatar?.constructor?.name === 'File') {
    const $avatar = $('#signup-avatar').attr('class', `form-control ${errors?.avatar && 'is-invalid'}`)
    $form.find('#signup-avatar').replaceWith($avatar)
  }

  return $form
}

const generatePage = (info) => {
  const $page = $('#home')
  const $form = generateForm(info)

  $page.html('').append($form)
}

const generateModal = (info) => {
  const $page = $('#home')
  const $form = generateModalForm(info)

  $page.html('').append($form)
}

const handleLogin = (e) => {
  e.preventDefault()
  // console.log($('#login-form')[0])

  const data = parseFormData(new FormData($('#login-form')[0]))
  // console.log(data)
  $('#login-btn button[type="submit"]').attr('disabled', true)

  axios({
    method: 'POST',
    url: '/api/auth/login',
    data
  }).then(() => {
    window.location.href = `/my/page`
  }).catch((err) => {
    generatePage({
      user: data,
      errors: err.response.data
    })
  })
}

const handleSignup = (e) => {
  e.preventDefault()

  const data = parseFormData(new FormData($('#signup-form')[0]))
  console.log(data)
  $('.signup-btn button[type="submit"]').attr('disabled', true)

  axios({
    method: 'POST',
    url: '/api/auth/signup',
    data
  }).then(() => {
    window.location.href = `/my/page`
  }).catch((err) => {
    generateModal({
      user: data,
      errors: err.response.data
    })
  })
}

$(document).ready(() => {
  generatePage()
  $('#home').on('click', '#login-btn', handleLogin)
  $('#home').on('click', '.signup-btn', handleSignup)
})
</script>

<%- contentFor('body') %>

<div class="row align-items-center g-lg-5 py-5 px-5 mx-5 my-5">
  <div class="col-lg-7 text-center text-lg-start">
    <h1 class="display-4 fw-bold lh-1 mb-3">h e a r d</h1>
    <p class="col-lg-10 fs-4">Because sometimes all we need is an empathetic ear to feel less alone in this world of billions.</p>
  </div>

  <div id="home" class="col-md-10 mx-auto col-lg-5">
  </div>

</div>
