<%- contentFor('styles') %>
<%- contentFor('scripts') %>
<%- contentFor('body') %>
<div id="pages-not-permitted" class="container">
  <h1 class="text-center">Unauthorized! Please login first. :)</h1>
</div>
