<%- contentFor('styles') %>
<%- contentFor('scripts') %>
<%- contentFor('body') %>
<div id="pages-not-found" class="container">
  <h2 class="text-center font-monospace">Sorry, no such page! :(</h2>
</div>
