<%- contentFor('styles') %>
<%- contentFor('scripts') %>
<%- contentFor('body') %>
<div id="pages-not-permitted" class="container">
  <h2 class="text-center font-monospace mb-5">Unauthorized! Please log in first. ^^</h2>
</div>
